odetofood/bin/*
odetofood/obj/*
odetofood/wwwroot/*
odetofood.core/bin/*
odetofood.core/obj/*
odetoofd.data/bin/*
odetoofd.data/obj/*
odetofood.console/bin/*
odetofood.console/obj/*
odetoofd.data/Migrations/*
