@page
@model odetofood.Pages.Restaurants.ListsModel
@{
}
<h1>Test lists</h1>

@Model.HelloMessage

<br>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" asp-for="SearchTerm" class="form-control" name="searchTerm">
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<hr>
<br>

<table class="table">
    @foreach (var restaurant in Model.MyRestaurants)
    {
        <partial name="_Summary" model="restaurant" />
    }
</table>

<hr>

<a asp-page="./Edit" class="btn btn-primary">Add New</a>

<br><br><hr>

@section footer {
    <div>
        @Model.MsgFromAppSelttings
    </div>
}
